In [34]:
from citipy import citipy
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import seaborn as sns
import numpy as np

In [2]:
#Configure api
#OpenWeatherMap Api Key
key = "e7604e67af391c6626ebac727adc2e59"
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "Imperial"

In [3]:
#Set up list of randomly generated longitude and latitude
citydf = pd.DataFrame()
citydf["Latitude"] = [(np.random.uniform(-90, 90)) for x in range (10)]
citydf["Longitude"]  = [(np.random.uniform(-180, 180)) for x in range (10)]

city_list = []
country_list = []
for index, row in citydf.iterrows():
    city=citipy.nearest_city(row["Latitude"],row["Longitude"])
    city_list.append(city.city_name)
    country_list.append(city.country_code)
citydf["City"] = city_list
citydf["Country"] = country_list

citydf

    Latitude   Longitude        City Country
0 -12.539392 -128.005765      atuona      pf
1  16.633204   82.109425  amalapuram      in
2 -64.585516  -18.632887        chuy      uy
3 -47.199770   53.216629   taolanaro      mg
4  33.565471  -83.462132    eatonton      us
5  59.687464  -43.038861  nanortalik      gl
6 -73.178926 -169.605674       vaini      to
7 -58.339736 -161.211100     mataura      pf
8 -63.357963 -155.852446     mataura      pf
9  49.589468    7.956585   eisenberg      de

In [4]:
#Perform API Calls

In [33]:
# Create empty columnns for data
citydf["Cloudiness"] = ""
citydf["Date"] = ""
citydf["Humidity"] = ""
citydf["Max Temp"] = ""
citydf["Wind Speed"] = ""


# Counter
row_count = 0

# Loop through 
for index, row in citydf.iterrows():
     
    # Create endpoint url 
    city = row["City"]
    target_url = url + "&units=" + units + "&appid=" + key + "&q=" + city

    # Print log to ensure loop is working correctly
    print("Now retrieving city # " + str(row_count))
    print(target_url)
    row_count += 1

    data = requests.get(target_url).json()
    try:
        clouds = data['clouds']['all']
        date = data['dt']
        humidity = data['main']['humidity']
        temp = data['main']['temp_max']
        wind = data['wind']['speed']
        citydf.set_value(index, "Cloudiness", clouds)
        citydf.set_value(index, "Date", date)
        citydf.set_value(index, "Humidity", humidity)
        citydf.set_value(index, "Max Temp", temp)
        citydf.set_value(index, "Wind Speed", wind)
    except:
        print("Missing Data")

Now retrieving city # 0
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=atuona
Now retrieving city # 1
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=amalapuram
Now retrieving city # 2
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=chuy
Now retrieving city # 3
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=taolanaro
Missing Data
Now retrieving city # 4
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=eatonton
Now retrieving city # 5
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=nanortalik
Now retrieving city # 6
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=vaini
Now retrieving city # 7
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=mataura
Missing Data
Now retrieving city # 8
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=mataura
Missing Data
Now retrieving city # 9
http://api.openweathermap.org/data/2.5/weather?&units=Imperial&appid=e7604e67af391c6626ebac727adc2e59&q=eisenberg

In [32]:
citydf.head()

,Latitude,Longitude,City,Country,Cloudiness,Date,Humidity,Max Temp,Wind Speed
0,-12.539392,-128.005765,atuona,pf,44,1513723920,100,80.06,10.65
1,16.633204,82.109425,amalapuram,in,0,1513723920,81,68.68,10.65
2,-64.585516,-18.632887,chuy,uy,68,1513723921,80,67.23,12.55
3,-47.199770,53.216629,taolanaro,mg,,,,,
4,33.565471,-83.462132,eatonton,us,1,1513722900,68,69.8,9.17